@media(max-width:1614px){
    .img-man{
        max-width: 800px;
        width: 100%;
        height: 850px;
        top: 120px;
        right: 0;
    }
    .man-effect{
        max-width: 700px;
        width: 100%;
        height: 720px;
        margin-top: 50px;
        margin-left: 70px;
    }
    .portfolio-wraper{
        max-width: 550px;
        width: 100%;
        height: 396px;
        display: flex;
        flex-direction: column;
        z-index: 50;
        position: absolute;
        top: 320px;
        left: 100px;
    }
    .hello-wraper{
        max-width: 140px;
        width: 100%;
        height: 64px;
        background-color: #FF4900;
    }
    .triangle{
        width: 20px;
        height:17px;
        border-top: 20px solid #FF4900;
        border-right: 15px solid black;
        border-bottom: 20px solid black ;
        border-left: 15px solid black;
        margin-left: 53px;
    }
    .hello-wraper>h4{
        color: white;
        font-size: 18px;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        font-family: 'Poppins';
    }
    .portfolio-h1{
        width: 550px;
        color: white;
        font-size: 70px;
        font-family: 'Poppins';
    }
    .portfolio-h2{
        width: 552px;
        color: white;
        font: 18px;
        margin-top: 18px;
        font-family: 'Poppins';
    }
    .download{
        width: 180px;
        height: 83px;
        background-color: #FF4900;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }
    .mywork{
        width: 180px;
        height: 81px;
        border: 1px solid white;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .download>a{
        font-size: 18px;
    }
    .mywork>a{
        font-size: 18px;
    }
}
@media(max-width:1500px){
    .container1{
        max-width: 1300px;
        width: 100%;
    }
    .section2-img{
        max-width: 600px;
        width: 100%;
    }
    .calendar-wraper{
        max-width: 700px;
        width: 100%;
    }
    .calendar{
        max-width: 200px;
        width: 100%;
        height: 185px;
        position: absolute;
        top: 1900px;
    }
    .h1-06{
        width: 140px;
        height: 110px;
        margin-bottom: 30px;
    }
    .h1-06>h1{
        font-size: 25px;
        color: white;
        font-family: 'Poppins';
    }
    .span1{
        font-size: 45px;
        color: white;
        font-family: 'Poppins';
    }
    .calendar-divs{
        width: 140px;
        height: 30px;
        margin-bottom: 24px;
    }
    .c-div{
        width: 13px;
        height: 30px;
        background-color: white;
    }
    .skills{
        max-width: 470px;
        width: 100%;
        margin-left:60px;
        display: flex;
        flex-direction: column;
    }
    .skills-h1{
        font-size: 27px;
        color: white;
        font-family: 'Poppins';
    }
    .skills-p{
        font-size: 13px;
        color: white;
        margin-top: 42px;
        font-family: 'Poppins';
        margin-bottom:18px;
    }
    .languges-wraper{
        margin-top: 26px;
    }
    .languges{
        font-size: 15px;
        color: white;
        font-family: 'Poppins';
    }
    .languges-borders{
        display: flex;
    }
    .border1{
        width: 360px;
        border: 2px solid #FF4900;
        margin-top: 24.5px;
        margin-bottom: 25px;
    }
    .border2{
        width: 105px;
        border: 2px solid #707070;
        margin-top: 24.5px;
        margin-bottom: 25px;
    }
    .border3{
        width: 315px;
        border: 2px solid #FF7004;
        margin-top: 16.5px;
        margin-bottom: 35px;
    }
    .border4{
        width: 150px;
        border: 2px solid #707070;
        margin-top: 16.5px;
        margin-bottom: 35px;
    }
    .border5{
        width: 400px;
        border: 2px solid #FF9809;
        margin-top: 16.5px;
        margin-bottom: 35px;
    }
    .border6{
        width: 65px;
        border: 2px solid #707070;
        margin-top: 16.5px;
        margin-bottom: 35px;
    }
    .border7{
        width: 440px;
        border: 2px solid #FFBF0D;
        margin-top: 10px;
    }
    .border8{
        width: 25px;
        border: 2px solid #707070;
        margin-top: 10px;
    }
    .info-divs-wraper{
        display: flex;
        margin-top: 85px;
    }
    .hire{
        width: 170px;
        height: 60px;
        background-color: #FF4900;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 18px;
        font-family: 'Poppins';
        margin-right: 20px;
    }
    .about{
        width: 170px;
        height: 60px;
        border-radius: 10px;
        border: 1px solid #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about>a{
        color: white;
        font-size: 18px;
        font-family: 'Poppins'; 
    }
    .hire>a{
        color: white;
        font-size: 18px;
        font-family: 'Poppins'; 
    }
    .container3{
        max-width: 1450px;
        width: 100%;
    }
    .contact{
        max-width: 525px;
        padding-top: 125px;
    }
    .contact>h2{
        font-size: 30px;
    }
    .contact>p{
        font-size: 14px;
    }
    .number1>h2{
        font-size: 14px;
    }
    .number1>a{
        font-size: 20px;
    }
    .find{
        font-size: 20px;
        margin-top: 80px;
    }
    .icons-wraper{
        width: 700px;
        height: 83px;
        margin-left: -230pt;
        margin-top: 105px;
    }
    .wraper{
        margin-left: 230pt;
    }
    .social{
        margin-right: 33px;
    }
    .submit-wraper{
        margin: 121px 0 0 64px;
    }
    .drop{
        color: white;
        font-size: 40px;
        font-family: 'Poppins';
        margin-bottom: 49px;
    }
    .input{
        width: 300px;
        height: 89px;
        color: #707070;
        font-size:25px ;
        background-color: black;
        border: 1px solid #333333;
        border-radius: 5px;
        outline: none;
        margin-right: 30px;
    }
    .input::placeholder{
        padding-left: 25px;
        font-size: 18px;
        color: #707070;
        font-family: 'Montserrat';
    }
    .input-wraper{
        display: flex;
    }
    .input2{
        width: 300px;
        height: 89px;
        color: #707070;
        font-size:25px ;
        background-color: black;
        border: 1px solid #333333;
        border-radius: 5px;
        outline: none;
    }
    .input2::placeholder{
        padding-left: 25px;
        font-size: 18px;
        color: #707070;
        font-family: 'Montserrat';
    }
    .input-wraper2{
        display: flex;
        margin-top: 50px;
    }
    .textarea{
        width: 630px;
        height: 205px;
        font-size: 25px;
        color:#707070 ;
        background-color: #000000;
        border: 1px solid #333333;
        border-radius: 5px;
        outline: none;
        margin-top: 50px;
    }
    .textarea::placeholder{
        font-size: 18px;
        color: #707070;
        font-family: 'Montserrat';
        padding-left: 25px;
    }
    .button{
        width: 241px;
        height: 83px;
        background-color: #FF4900;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        margin-top: 53px;
        color: white;
        font-size: 22px;
        font-family: 'Poppins';
    }
    .footer-h1{
        color: white;
        font-size: 18px;
        font-family: 'Poppins';
        margin-top: 80px;
    }
}
@media(max-width:1280px) {
    .section1-wraper{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 140px;
    }
    .img-man{
        background-image: url(../img/man.jpg);
        max-width: 800px;
        width: 100%;
        height: 850px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: unset;
        margin-top: 80px;
    }
    .portfolio-wraper{
        max-width: 640px;
        width: 100%;
        height: 396px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: unset;
    }
    .triangle{
        margin-left: 2px;
    }
    .divs-wraper{
        display: flex;
        justify-content: center;
    }
    .portfolio-h2{
        display: flex;
        justify-content: center;
    }
    .nav-li{
        color: white;
        margin-right: 30px;
        margin-top: 70px;
        font-family: 'Poppins';
        font-size: 13px;
    }
    .nav-li-wraper{
        margin-right: 30px;
        width: 119px;
        height: 119px;
        background-color: none;
        display: flex;
        justify-content: center;
    }
    .nav-li-wraper>li{
        margin-top: 70px;
        color: white;
        font-family: 'Poppins';
        font-size: 13px;
    }
    .nav-li-wraper2{
        width: 100px;
        height: 67px;
        background-color:#FF4900 ;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 44px;
    }
    .nav-li-wraper2>li{
        color: white;
        font-family: 'Poppins';
        font-size: 13px;
    }
    .logo{
        max-width: 150px;
        width: 100%;
    }
    .container1{
        max-width: 900px;
        width: 100%;
        margin-top: 500px;
        display:flex;
        flex-direction: column;
    }
    .section2-img{
        position: unset;
        max-width: 700px;
        width: 100%;
    }
    .calendar-wraper{
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
    }
    .calendar{
        position: absolute;
        top: 2600px;
        max-width: 252px;
        width: 100%;
        height: 233px;
    }
    .calendar-divs{
        width: 170px;
        height: 39px;
        margin-bottom: 35px;
    }
    .c-div{
        width: 17px;
        height: 36px;
    }
    .h1-06{
        margin-bottom:55px;
    }
    .skills{
        max-width: 650px;
        width: 100%;
        margin: 0 auto;
        margin-top: 120px;
    }
    .skills-h1{
        font-size: 40px;
        color: white;
        font-family: 'Poppins';
    }
    .skills-p{
        max-width: 650px;
        width: 100%;
        font-size: 18px;
        color: white;
        margin-top: 42px;
        font-family: 'Poppins';
    }
    .languges-wraper{
        margin-top: 26px;
    }
    .languges{
        font-size: 18px;
        color: white;
        font-family: 'Poppins';
    }
    .languges-borders{
        display: flex;
    }
    .border1{
        width: 510px;
        border: 2px solid #FF4900;
        margin-top: 24.5px;
        margin-bottom: 35px;
    }
    .border2{
        width: 135px;
        border: 2px solid #707070;
        margin-top: 24.5px;
        margin-bottom: 35px;
    }
    .border3{
        width: 462px;
        border: 2px solid #FF7004;
        margin-top: 16.5px;
        margin-bottom: 45px;
    }
    .border4{
        width: 185px;
        border: 2px solid #707070;
        margin-top: 16.5px;
        margin-bottom: 45px;
    }
    .border5{
        width: 561px;
        border: 2px solid #FF9809;
        margin-top: 16.5px;
        margin-bottom: 45px;
    }
    .border6{
        width: 87px;
        border: 2px solid #707070;
        margin-top: 16.5px;
        margin-bottom: 45px;
    }
    .border7{
        width: 605px;
        border: 2px solid #FFBF0D;
        margin-top: 16.5px;
    }
    .border8{
        width: 44px;
        border: 2px solid #707070;
        margin-top: 16.5px;
    }
    .info-divs-wraper{
        display: flex;
        margin-top: 108px;
    }
    .hire{
        width: 241px;
        height: 83px;
        background-color: #FF4900;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 22px;
        font-family: 'Poppins';
        margin-right: 20px;
    }
    .about{
        width: 241px;
        height: 83px;
        border-radius: 10px;
        border: 1px solid #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 22px;
        font-family: 'Poppins'; 
    }
    .about>a{
        color: white;
        font-size: 22px;
        font-family: 'Poppins'; 
    }
    .hire>a{
        color: white;
        font-size: 22px;
        font-family: 'Poppins'; 
    }
    .container2>h1{
        font-size: 30px;
    }
    .container2>p{
        font-size: 14px;
    }
    .service-wraper{
        max-width: 1450px;
        width: 100%;
    }
    .vertical1{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 120px;
    }
    .vertical2{
        display: flex;
        flex-direction: column;
        margin-top: 0;
        align-items: center;
    }
    .w1{
        margin-bottom: 30px;
    }
    .w2{
        margin-bottom: 30px;
    }
    .w3{
        margin-bottom: 30px;
    }
    .w4{
        margin-bottom: 30px;
    }
    .w5{
        margin-bottom: 30px;
    }
    .box-wraper{
        display: flex;
        flex-wrap: wrap;
    }
    .box1{
        width: 40%;
        margin-right:50px;
    }
    .box2{
        width: 40%;
        margin-right: 0;
    }
    .box3{
        width: 40%;
        margin-right:50px;
    }
    .box4{
        width: 40%;
    }
    .background-wraper{
        height: 800px;
    }
    .box-wraper{
        height:800px
    }
    .contact-wraper{
        display: flex;
        flex-direction: column;
    }
    .footer{
        width: 100%;
        height: 1800px;
        background-color: #060606;
        margin-top: 161px;
    }
    .container3{
        max-width: 1450px;
        width: 100%;
    }
    .contact-wraper{
        display: flex;
        max-width: 525px;
        width: 100%;
    }
    .contact{
        max-width: 525px;
        padding-top: 125px;
    }
    .contact>h2{
        color: white;
        font-size: 40px;
        font-family: 'Poppins';
        margin-bottom: 20px;
    }
    .contact>p{
        color: white;
        font-size: 18px;
        font-family: 'Poppins';
        margin-bottom: 10px;
    }
    .call{
        display: flex;
        margin-top: 57px;
    }
    .icon1{
        width: 49px;
        height: 49px;
        background-color: #000000;
        border: 1px solid #333333;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .number1{
        margin-left: 25px;
    }
    .number1>h2{
        color:#6B6B6B;
        font-size: 18px;
        font-family: 'Poppins';
        margin-bottom: 5px;
    }
    .number1>a{
        color:white;
        font-size: 25px;
        font-family: 'Poppins';
    }
    .find{
        color: white;
        font-size: 25px;
        font-family: 'Poppins';
        margin-top: 60px;
    }
    .icons-wraper{
        width: 850px;
        height: 83px;
        background-color: #FF4900;
        border-radius: 10px;
        margin-top: 88.5px;
        margin-left: -270pt;
        display: flex;
        align-items: center;
    }
    .wraper{
        margin-left: 270pt;
        display: flex;
    }
    .social{
        margin-right: 33px;
    }
    .submit-wraper{
        margin-top: 150px;
        margin-left: 0;
    }
    .drop{
        color: white;
        font-size: 40px;
        font-family: 'Poppins';
        margin-bottom: 49px;
    }
    .input{
        width: 250px;
        height: 89px;
        color: #707070;
        font-size:25px ;
        background-color: black;
        border: 1px solid #333333;
        border-radius: 5px;
        outline: none;
        margin-right: 25px;
    }
    .input::placeholder{
        padding-left: 25px;
        font-size: 18px;
        color: #707070;
        font-family: 'Montserrat';
    }
    .input-wraper{
        display: flex;
    }
    .input2{
        width: 250px;
        height: 89px;
        color: #707070;
        font-size:25px ;
        background-color: black;
        border: 1px solid #333333;
        border-radius: 5px;
        outline: none;
    }
    .input2::placeholder{
        padding-left: 25px;
        font-size: 18px;
        color: #707070;
        font-family: 'Montserrat';
    }
    .input-wraper2{
        display: flex;
        margin-top: 50px;
    }
    .textarea{
        width: 525px;
        height: 205px;
        font-size: 25px;
        color:#707070 ;
        background-color: #000000;
        border: 1px solid #333333;
        border-radius: 5px;
        outline: none;
        margin-top: 50px;
    }
    .textarea::placeholder{
        font-size: 18px;
        color: #707070;
        font-family: 'Montserrat';
        padding-left: 25px;
    }
    .button{
        width: 180px;
        height: 50px;
        background-color: #FF4900;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        margin-top: 53px;
        color: white;
        font-size: 22px;
        font-family: 'Poppins';
    }
    .footer-h1{
        color: white;
        font-size: 18px;
        font-family: 'Poppins';
        margin-top: 75px;
    }
    .wrapper, 
  ul{
    display: block;
    text-align: center;
  }
  .header-wraper{
      height: 400px;
  }
  .nav-li-wraper{
      display: none;
  }
  .logo{
      margin-left: 40px;
  }
  .nav-a{
    display: block;
    margin: 0;
    margin-bottom: 30px;
  } 
  .nav1{
      text-align: start;
      width: 105px;
      margin: 0;
      margin-bottom: 30px;
      margin-left: 17px;
  }
  .nav2{
    text-align: start;
    width: 80px;
    margin: 0;
    margin-bottom: 30px;
}
.nav3{
    text-align: start;
    width: 80px;
    margin: 0;
    margin-bottom: 30px;
}
  .ul-wraper{
      margin-top:100px;
      margin-left: -100px;
}
  .social-icons{
    display: flex;
    justify-content: center; 
  } 
  .burger-icon{
    color: #fff;
    display: block;
    font-size: 30px;
    position: absolute;
    top: 40px;
    right: 30px;
    cursor:pointer;
  }
  .menu-ul>li{
      margin: 0;
  }
  .fa-bars{
      display: block;
      margin: 20px 50px;
  }
  .menu-ul,
  .social-icons{
    display: none;
  }  
  .ul-wraper{
      display: flex;
      justify-content: center;
      width: 100%;
  }
  .menu-ul.open-menu{
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media(max-width:1024px){ 
  .social-icons.open-socicon{
    display: flex;
  } 
  .slider .slider_item img {
    margin-left: 405px;
    }
  .slick-h1{
    font-size: 30px;
    }
  .slick-p{
    font-size: 14px;
    }
}
@media(max-width:900px){
    .section2-img{
        position: unset;
        max-width:650px;
        width: 100%;
    }
    .man-effect{
        max-width: 650px;
        width: 100%;
        height: 720px;
        margin-top: 25px;
        margin-left: 80px;
    }
    .box1{
        width:250px ;
        height:200px ;
    }
    .box2{
        width:250px ;
        height:200px ;
    }
    .box3{
        width:250px ;
        height:200px ;
    }
    .box4{
        width:250px ;
        height:200px ;
    }
    .box1>h1{
        font-size: 40px;
    }
    .box1>p{
        font-size: 20px;
    }
    .box2>h1{
        font-size: 40px;
    }
    .box2>p{
        font-size: 20px;
    }
    .box3>h1{
        font-size: 40px;
    }
    .box3>p{
        font-size: 20px;
    }
    .box4>h1{
        font-size: 40px;
    }
    .box4>p{
        font-size: 20px;
    }
    .container2>h1{
        font-size: 25px;
    }
    .container2>p{
        font-size: 10px;
    }
    .wordpress{
        width: 380px;
        height: 132.88px;
    }
    .html{
        width: 380px;
        height: 132.88px;
    }
    .icon-h2{
        font-size: 18px;
    }
    .fa-html5{
        font-size: 30px;
    }
    .fa-wordpress{
        color: white;
        font-size: 30px;
    }
    .fa-code{
        font-size: 30px;
        color: white;
    }
    .fa-css3-alt{
        font-size: 30px;
    }
    .fa-puzzle-piece{
        font-size: 30px;
    }
    .fa-laptop-code{
        color: white;
        font-size: 40px;
    }
    .icon-wraper1{
        width: 77px;
        height: 77px;
    }
    .icon-wraper2{
        width: 77px;
        height: 77px;
    }
    .slider .slider_item img {
        margin-left: 350px;
    }
    .slick-h1{
        font-size: 25px;
    }
    .slick-p{
        font-size: 12px;
    }
    .child-div>h1{
        font-size: 20px;
    }
    .child-div>h2{
        font-size: 14px;
    }
    .child-div>p{
        font-size: 14px;
    }
    .calendar{
        top: 2550px;
    }
}
@media(max-width:800px){
    .img-man{
        background-image: url(../img/man.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 550px;
        width: 100%;
        height: 600px;
        top: 119px;
        right: 0;
    }
    .man-effect{
        max-width: 500px;
        width: 100%;
        height: 530px;
        margin-top: 30px;
        margin-left: 30px;
    }
    .portfolio-wraper{
        max-width: 500px;
        width: 100%;
        height: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: unset;
    }
    .hello-wraper{
        max-width: 110px;
        width:100%;
        height: 53px;
        display: flex;
        justify-content: center;
    }
    .hello-wraper>h4{
        font-size: 16px;
    }
    .triangle{
        margin-left: 2px;
        width: 20px;
        height:17px;
        border-top: 17px solid #FF4900;
        border-right: 13px solid black;
        border-bottom: 17px solid black ;
        border-left: 13px solid black;
    }
    .divs-wraper{
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    .portfolio-h1{
        display: flex;
        justify-content: center;
        font-size: 50px;
    }
    .portfolio-h2{
        display: flex;
        justify-content: center;
        font-size: 13px;
    }
    .download{
        width: 150px;
        height: 53px;
        background-color: #FF4900;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }
    .mywork{
        width: 150px;
        height: 51px;
        border: 1px solid white;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .download>a{
       font-size: 14px;
    }
    .mywork>a{
        font-size: 14px;
    }
    .container1{
        max-width: 1530px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        margin-top: 287px;
    }
    .calendar-wraper{
        max-width: 650px;
        width: 100%;
    }
    .section2-img{
        max-width: 500px;
        width: 100%;
    }
    .calendar{
        max-width: 180px;
        width: 100%;
        height: 160px;
        background-color: #111111;
        border-radius: 10px;
        position: absolute;
        top: 2240px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .calendar-divs{
        display: flex;
        justify-content: space-between;
        width: 120px;
        height: 30px;
        margin-bottom: 20px;
    }
    .c-div{
        width: 15px;
        height: 25px;
        background-color: white;
    }
    .h1-06{
        width: 110px;
        height: 110px;
        margin-bottom: 35px;
    }
    .h1-06>h1{
        font-size: 20px;
        color: white;
        font-family: 'Poppins';
    }
    .span1{
        font-size: 40px;
        color: white;
        font-family: 'Poppins';
    }
    .skills{
        max-width: 500px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .skills-h1{
        max-width: 500px;
        width: 100%;
        font-size: 30px;
        color: white;
        font-family: 'Poppins';
    }
    .skills-p{
        max-width: 500px;
        width: 100%;
        font-size: 14px;
        color: white;
        margin-top: 42px;
        font-family: 'Poppins';
    }
    .languges-wraper{
        margin-top: 26px;
    }
    .languges{
        font-size: 14px;
        color: white;
        font-family: 'Poppins';
    }
    .languges-borders{
        max-width: 500px;
        width: 100%;
        display: flex;
    }
    .border1{
        width: 370px;
        border: 2px solid #FF4900;
        margin-top: 24.5px;
        margin-bottom: 35px;
    }
    .border2{
        width: 125px;
        border: 2px solid #707070;
        margin-top: 24.5px;
        margin-bottom: 35px;
    }
    .border3{
        width: 310px;
        border: 2px solid #FF7004;
        margin-top: 16.5px;
        margin-bottom: 45px;
    }
    .border4{
        width: 185px;
        border: 2px solid #707070;
        margin-top: 16.5px;
        margin-bottom: 45px;
    }
    .border5{
        width: 420px;
        border: 2px solid #FF9809;
        margin-top: 16.5px;
        margin-bottom: 45px;
    }
    .border6{
        width: 75px;
        border: 2px solid #707070;
        margin-top: 16.5px;
        margin-bottom: 45px;
    }
    .border7{
        width: 460px;
        border: 2px solid #FFBF0D;
        margin-top: 16.5px;
    }
    .border8{
        width: 35px;
        border: 2px solid #707070;
        margin-top: 16.5px;
    }
    .info-divs-wraper{
        max-width: 330px;
        width: 100%;
        display: flex;
        margin-top: 108px;    }
    .hire{
        width: 150px;
        height: 63px;
        background-color: #FF4900;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 18px;
        font-family: 'Poppins';
        margin-right: 20px;
    }
    .about{
        width:150px;
        height: 63px;
        border-radius: 10px;
        border: 1px solid #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size:18px;
        font-family: 'Poppins'; 
    }
    .about>a{
        color: white;
        font-size: 18px;
        font-family: 'Poppins'; 
    }
    .hire>a{
        color: white;
        font-size: 18px;
        font-family: 'Poppins'; 
    }
    .calendar-divs{
        display: flex;
    }
    .slider .slider_item img {
        margin-left: 240px;
    }
    .slick-h1{
        font-size: 20px;
    }
    .slick-p{
        font-size: 10px;
    }
    .child-div>h1{
        font-size: 15px;
    }
    .child-div>h2{
        font-size: 10px;
    }
    .child-div>p{
        font-size: 10px;
    }
    .mask-div{
        max-width: 600px;
        height:300px;
    }
    .child-div{
        max-width: 600px;
        width: 100%;
        height: 400px;
    }
    .slick-dots li button:before{
        top: 0;
    }
    .menu-ul>li{
        margin: 0;
    }
    .nav-a{
        font-size: 14px;
        transition: all 0.2s 0.2s linear;
    } 
    .nav1{
        font-size: 14px;
        width: 90px;
    }
    .nav2{
        font-size: 14px;
        width: 70px;
    }
    .nav3{
        font-size: 14px;
        width: 70px;
    }
    .nav-a:hover{
        font-size: 18px;
    }
}
@media(max-width:767px){
    .slider .slider_item img {
        margin-left: 150px;
    }
    .slick-h1{
        font-size: 18px;
    }
    .slick-p{
        font-size: 8px;
    }
    .child-div>h1{
        font-size: 13px;
    }
    .child-div>h2{
        font-size: 8px;
    }
    .child-div>p{
        font-size: 8px;
    }
    .mask-div{
        max-width: 400px;
        height:250px;
    }
    .child-div{
        max-width: 400px;
        width: 100%;
        height: 370px;
    }
    .slider .slider_item {
        height: 550px;
    }
    .slider .slider_item img {
        width: 120px;
        height: 120px;
        display: block;
        object-fit: cover;
        margin: 0 auto;
        position: absolute;
        margin-top: 50px;
        margin-left: 150px;
    }
    .footer{
        width: 100%;
        height: 2000px;
        background-color: #060606;
        margin-top: 161px;
    }
    .container3{
        max-width: 1450px;
        width: 100%;
    }
    .contact-wraper{
        display: flex;
        max-width: 350px;
        width: 100%;
    }
    .contact{
        max-width: 350px;
        padding-top: 125px;
    }
    .contact>h2{
        color: white;
        font-size: 25px;
        font-family: 'Poppins';
        margin-bottom: 20px;
    }
    .contact>p{
        color: white;
        font-size: 12px;
        font-family: 'Poppins';
        margin-bottom: 10px;
    }
    .call{
        display: flex;
        margin-top: 57px;
    }
    .icon1{
        width: 49px;
        height: 49px;
        background-color: #000000;
        border: 1px solid #333333;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .number1{
        margin-left: 25px;
    }
    .number1>h2{
        color:#6B6B6B;
        font-size: 14px;
        font-family: 'Poppins';
        margin-bottom: 5px;
    }
    .number1>a{
        color:white;
        font-size: 20px;
        font-family: 'Poppins';
    }
    .find{
        color: white;
        font-size: 24px;
        font-family: 'Poppins';
        margin-top: 60px;
    }
    .icons-wraper{
        width: 550px;
        height: 83px;
        background-color: #FF4900;
        border-radius: 10px;
        margin-top: 88.5px;
        margin-left: -150pt;
        display: flex;
        align-items: center;
    }
    .wraper{
        margin-left: 150pt;
        display: flex;
    }
    .social{
        margin-right: 33px;
        width:30px;
        height: 30px;
    }
    .pint{
        width: 30px;
        height: 30px;
    }
    .submit-wraper{
        margin-top: 150px;
        margin-left: 0;
    }
    .drop{
        color: white;
        font-size: 40px;
        font-family: 'Poppins';
        margin-bottom: 49px;
    }
    .input{
        width:300px;
        height: 89px;
        font-size:25px ;
        border-radius: 5px;
        outline: none;
        margin: auto 0 30px;
    }
    .input::placeholder{
        padding-left: 25px;
        font-size: 18px;
    }
    .input-wraper{
        display: flex;
        flex-direction: column;
    }
    .input-wraper2{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
    .input2{
        width: 300px;
        height: 89px;
        font-size:25px ;
    }
    .input2::placeholder{
        padding-left: 25px;
        font-size: 18px;
    }
    .textarea{
        width: 300px;
        height: 205px;
        font-size: 25px;
        margin-top: 50px;
    }
    .textarea::placeholder{
        font-size: 18px;
        padding-left: 25px;
    }
    .button{
        width: 140px;
        height: 40px;
        border-radius: 10px;
        margin-top: 53px;
        font-size: 15px;
    }
    .footer-h1{
        font-size: 14px;
    }
}
@media(max-width:672px){
    .menu-ul>li{
        margin: 0;
    }
    .nav-a{
        font-size: 14px;
    } 
    .nav1{
        font-size: 14px;
        width: 90px;
    }
    .nav2{
        font-size: 14px;
        width: 70px;
    }
    .nav3{
        font-size: 14px;
        width: 70px;
    }
    .logo{
        margin-left: 20px;
    }
    .fa-bars{
        margin: 10px 0 0 0;
    }
    .image{
        width: 150px;
    }
}
@media(max-width:626px){
    .section2-img{
        max-width:460px;
        width: 100%;
    }
    .calendar{
        top: 2200px;
    }
}
@media(max-width:620px){
    .container2>h1{
        font-size: 20px;
    }
    .container2>p{
        font-size: 8px;
    }
    .box-wraper{
        display: flex;
        flex-direction: column;
    }
    .box1{
        width: 200px;
        height: 150px;
        margin: 40px 0 40px;
    }
    .box2{
        width: 200px;
        height: 150px;
        margin-bottom: 40px;
    }
    .box3{
        width: 200px;
        height: 150px;
        margin-bottom: 40px;
        margin-right: 0;
    }
    .box4{
        width: 200px;
        height: 150px;
        margin-bottom: 40px;
    }
}
@media(max-width:600px){
    .img-man{
        max-width: 450px;
        width: 100%;
        height: 450px;
    }
    .man-effect{
        max-width: 380px;
        width: 100%;
        height: 420px;
        margin-top: 12px;
        margin-left: 40px;
    }
    .portfolio-wraper{
        max-width: 300px;
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: unset;
    }
    .hello-wraper{
        max-width: 90px;
        width:100%;
        height: 43px;
        display: flex;
        justify-content: center;
    }
    .hello-wraper>h4{
        font-size: 13px;
        margin-top: 15px;
    }
    .triangle{
        margin-left: 2px;
        width: 20px;
        height:17px;
        border-top: 14px solid #FF4900;
        border-right: 10px solid black;
        border-bottom: 14px solid black ;
        border-left: 10px solid black;
    }
    .divs-wraper{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        max-width: 300px;
        width: 100%;
    }
    .portfolio-h1{
        display: flex;
        justify-content: center;
        font-size: 35px;
        max-width: 450px;
        width: 100%;
    }
    .portfolio-h2{
        display: flex;
        justify-content: center;
        font-size: 11px;
        max-width: 450px;
        width: 100%;
    }
    .download{
        width: 100px;
        height: 43px;
        background-color: #FF4900;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }
    .mywork{
        width: 100px;
        height: 41px;
        border: 1px solid white;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .download>a{
       font-size: 12px;
    }
    .mywork>a{
        font-size: 12px;
    }
    .section2-img{
        max-width: 380px;
        width: 100%;
    }
    .calendar-wraper{
        max-width: 460px;
        width: 100%;
    }
    .calendar{
        position: absolute;
        top: 1980px;
        max-width: 140px;
        width: 100%;
        height: 120px;
    }
    .calendar-divs{
        width: 100px;
        height: 30px;
        margin-bottom: 15px;
    }
    .c-div{
        width: 10px;
        height: 20px;
        background-color: white;
    }
    .h1-06{
        width: 85px;
        height: 110px;
        margin-bottom: 25px;
    }
    .h1-06>h1{
        font-size: 15px;
        color: white;
        font-family: 'Poppins';
    }
    .span1{
        font-size: 30px;
        color: white;
        font-family: 'Poppins';
    }
    .skills{
        max-width: 460px;
        width: 100%;
        margin-top: 70px;
    }
    .skills-h1{
        max-width: 460px;
        width: 100%;
        font-size: 20px;
    }
    .skills-p{
        max-width: 460px;
        width: 100%;
        font-size: 12px;
        color: white;
        margin-top: 42px;
        font-family: 'Poppins';
    }
    .languges-wraper{
        margin-top: 26px;
    }
    .languges{
        font-size: 12px;
        color: white;
        font-family: 'Poppins';
    }
    .languges-borders{
        max-width: 500px;
        width: 100%;
        display: flex;
    }
    .border1{
        width: 370px;
        border: 2px solid #FF4900;
        margin-top: 24.5px;
        margin-bottom: 35px;
    }
    .border2{
        width: 125px;
        border: 2px solid #707070;
        margin-top: 24.5px;
        margin-bottom: 35px;
    }
    .border3{
        width: 310px;
        border: 2px solid #FF7004;
        margin-top: 16.5px;
        margin-bottom: 45px;
    }
    .border4{
        width: 185px;
        border: 2px solid #707070;
        margin-top: 16.5px;
        margin-bottom: 45px;
    }
    .border5{
        width: 420px;
        border: 2px solid #FF9809;
        margin-top: 16.5px;
        margin-bottom: 45px;
    }
    .border6{
        width: 75px;
        border: 2px solid #707070;
        margin-top: 16.5px;
        margin-bottom: 45px;
    }
    .border7{
        width: 460px;
        border: 2px solid #FFBF0D;
        margin-top: 16.5px;
    }
    .border8{
        width: 35px;
        border: 2px solid #707070;
        margin-top: 16.5px;
    }
    .info-divs-wraper{
        max-width: 330px;
        width: 100%;
        display: flex;
        margin-top: 108px;    }
    .hire{
        width: 150px;
        height: 63px;
        background-color: #FF4900;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 18px;
        font-family: 'Poppins';
        margin-right: 20px;
    }
    .about{
        width:150px;
        height: 63px;
        border-radius: 10px;
        border: 1px solid #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size:18px;
        font-family: 'Poppins'; 
    }
    .about>a{
        color: white;
        font-size: 18px;
        font-family: 'Poppins'; 
    }
    .hire>a{
        color: white;
        font-size: 18px;
        font-family: 'Poppins'; 
    }
    .container1{
        margin-top: 100px;
    }
    .slick-h1{
        font-size: 16px;
    }
    .slick-p{
        font-size: 6px;
    }
}
@media(max-width:507px){
    .section2-img{
        max-width:340px;
        width: 100%;
    }
    .calendar{
        top: 1930px;
    }
}
@media(max-width:480px){
    .img-man{
        max-width: 350px;
        width: 100%;
        height: 350px;
    }
    .man-effect{
        max-width: 290px;
        width: 100%;
        height: 350px;
        margin-top:-5px;
        margin-left: 35px;
    }
    .portfolio-wraper{
        max-width: 300px;
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: unset;
    }
    .hello-wraper{
        max-width: 90px;
        width:100%;
        height: 43px;
        display: flex;
        justify-content: center;
    }
    .hello-wraper>h4{
        font-size: 13px;
        margin-top: 15px;
    }
    .triangle{
        margin-left: 2px;
        width: 20px;
        height:17px;
        border-top: 14px solid #FF4900;
        border-right: 10px solid black;
        border-bottom: 14px solid black ;
        border-left: 10px solid black;
    }
    .divs-wraper{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        max-width: 300px;
        width: 100%;
    }
    .portfolio-h1{
        display: flex;
        justify-content: center;
        font-size: 35px;
        max-width: 450px;
        width: 100%;
    }
    .portfolio-h2{
        display: flex;
        justify-content: center;
        font-size: 11px;
        max-width: 450px;
        width: 100%;
    }
    .download{
        width: 100px;
        height: 43px;
        background-color: #FF4900;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }
    .mywork{
        width: 100px;
        height: 41px;
        border: 1px solid white;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .download>a{
       font-size: 12px;
    }
    .mywork>a{
        font-size: 12px;
    }
    .section2-img{
        max-width: 260px;
        width: 100%;
    }
    .calendar-wraper{
        max-width: 380px;
        width: 100%;
    }
    .container1{
        max-width: 400px;
        width: 100%;
    }
    .calendar{
        position: absolute;
        top: 1850px;
        max-width: 100px;
        width: 100%;
        height: 90px;
    }
    .calendar-divs{
        width: 60px;
        height: 30px;
        margin-bottom: 15px;
    }
    .c-div{
        width: 5px;
        height: 10px;
        background-color: white;
    }
    .h1-06{
        width: 60px;
        height: 110px;
        margin-bottom: 20px;
    }
    .h1-06>h1{
        font-size: 11px;
        color: white;
        font-family: 'Poppins';
    }
    .span1{
        font-size: 23px;
        color: white;
        font-family: 'Poppins';
    }
    .skills{
        max-width: 380px;
        width: 100%;
        margin-top: 70px;
    }
    .skills-h1{
        max-width: 380px;
        width: 100%;
        font-size: 17px;
    }
    .skills-p{
        max-width: 380px;
        width: 100%;
        font-size: 10px;
        margin-top: 42px;
    }
    .languges-wraper{
        margin-top: 26px;
    }
    .languges{
        font-size: 10px;
    }
    .languges-borders{
        max-width: 380px;
        width: 100%;
    }
    .border1{
        width: 370px;
        margin-top: 24.5px;
        margin-bottom: 25px;
    }
    .border2{
        width: 125px;
        margin-top: 24.5px;
        margin-bottom: 25px;
    }
    .border3{
        width: 310px;
        margin-top: 16.5px;
        margin-bottom: 30px;
    }
    .border4{
        width: 185px;
        margin-top: 16.5px;
        margin-bottom: 30px;
    }
    .border5{
        width: 420px;
        margin-top: 16.5px;
        margin-bottom: 30px;
    }
    .border6{
        width: 75px;
        margin-top: 16.5px;
        margin-bottom: 30px;
    }
    .border7{
        width: 460px;
        margin-top: 16.5px;
    }
    .border8{
        width: 35px;
        margin-top: 16.5px;
    }
    .info-divs-wraper{
        max-width: 260px;
        width: 100%;
        display: flex;
        margin-top: 80px;    
    }
    .hire{
        width: 120px;
        height: 53px;
        color: white;
        font-size: 15px;
        margin-right: 20px;
    }
    .about{
        width:120px;
        height: 53px;
        font-size:15px;
    }
    .about>a{
        color: white;
        font-size: 15px;
        font-family: 'Poppins'; 
    }
    .hire>a{
        color: white;
        font-size: 15px;
        font-family: 'Poppins'; 
    }
    .wordpress{
        width: 280px;
        height: 100px;
    }
    .html{
        width: 280px;
        height: 100px;
    }
    .icon-h2{
        font-size: 14px;
    }
    .fa-html5{
        font-size: 20px;
    }
    .fa-wordpress{
        color: white;
        font-size: 20px;
    }
    .fa-code{
        font-size: 20px;
        color: white;
    }
    .fa-css3-alt{
        font-size: 20px;
    }
    .fa-puzzle-piece{
        font-size: 20px;
    }
    .fa-laptop-code{
        color: white;
        font-size: 20px;
    }
    .icon-wraper1{
        width: 50px;
        height: 50px;
    }
    .icon-wraper2{
        width: 50px;
        height: 50px;
    }
    .mask-div{
        max-width: 300px;
        height:200px;
    }
    .child-div{
        max-width: 300px;
        width: 100%;
        height: 300px;
    }
    .child-div>h1{
        font-size: 10px;
        margin-top: 100px;
    }
    .child-div>h2{
        font-size: 6px;
    }
    .child-div>p{
        font-size: 6px;
    }
    .slider .slider_item {
        height: 450px;
    }
    .slider .slider_item img {
        width: 100px;
        height: 100px;
        display: block;
        object-fit: cover;
        margin: 0 auto;
        position: absolute;
        margin-top: 50px;
        margin-left: 110px;
    }
    .slick-p{
        font-size: 4px;
    }
    .menu-ul>li{
        margin: 0;
    }
    .nav-a{
        font-size: 12px;
        transition: all 0.2s 0.2s linear;
    } 
    .nav1{
        font-size: 12px;
        width: 70px;
        margin-left: 14px;
    }
    .nav2{
        font-size: 12px;
        width: 70px;
        margin-left: 17px;
    }
    .nav3{
        font-size: 12px;
        width: 70px;
        margin-left: 17px;
    }
    .logo{
        margin-left: 20px;
    }
    .fa-bars{
        margin: 10px 0 0 0;
        font-size: 30px;
    }
    .image{
        width: 120px;
    }
    .nav-a:hover{
        font-size: 14px;
    }
}
@media(max-width:414px){
    .man-effect{
        margin-left: 30px;
    }
    .section2-img{
        max-width: 230px;
        width: 100%;
    }
    .calendar-wraper{
        max-width: 350px;
        width: 100%;
    }
    .container1{
        max-width: 400px;
        width: 100%;
    }
    .calendar{
        position: absolute;
        top: 2000px;
    }
    .skills{
        max-width: 300px;
        width: 100%;
        margin-top: 70px;
    }
    .skills-h1{
        max-width: 300px;
        width: 100%;
        font-size: 15px;
    }
    .skills-p{
        max-width: 300px;
        width: 100%;
        font-size: 8px;
        margin-top: 42px;
    }
    .languges-wraper{
        margin-top: 26px;
    }
    .languges{
        font-size: 8px;
    }
    .languges-borders{
        max-width: 300px;
        width: 100%;
    }
    .border1{
        width: 220px;
        margin-top: 24.5px;
        margin-bottom: 25px;
    }
    .border2{
        width: 70px;
        margin-top: 24.5px;
        margin-bottom: 25px;
    }
    .border3{
        width: 180px;
        margin-top: 16.5px;
        margin-bottom: 30px;
    }
    .border4{
        width: 110px;
        margin-top: 16.5px;
        margin-bottom: 30px;
    }
    .border5{
        width: 230px;
        margin-top: 16.5px;
        margin-bottom: 30px;
    }
    .border6{
        width: 60px;
        margin-top: 16.5px;
        margin-bottom: 30px;
    }
    .border7{
        width:260px;
        margin-top: 16.5px;
    }
    .border8{
        width: 30px;
        margin-top: 16.5px;
    }
    .hire{
        width: 90px;
        height: 43px;
        color: white;
        font-size: 13px;
        margin-right: 20px;
    }
    .about{
        width:90px;
        height:43px;
        font-size:13px;
    }
    .about>a{
        color: white;
        font-size: 13px;
        font-family: 'Poppins'; 
    }
    .hire>a{
        color: white;
        font-size: 13px;
        font-family: 'Poppins'; 
    }
    .calendar{
        top: 1820px;
    }
    .footer{
        width: 100%;
        height: 1720px;
        background-color: #060606;
        margin-top: 161px;
    }
    .container3{
        max-width: 1450px;
        width: 100%;
    }
    .contact-wraper{
        display: flex;
        max-width: 300px;
        width: 100%;
    }
    .contact{
        max-width: 300px;
        padding-top: 125px;
    }
    .contact>h2{
        color: white;
        font-size: 20px;
        font-family: 'Poppins';
        margin-bottom: 20px;
    }
    .contact>p{
        color: white;
        font-size: 10px;
        font-family: 'Poppins';
        margin-bottom: 10px;
    }
    .call{
        display: flex;
        margin-top: 57px;
    }
    .icon1{
        width: 49px;
        height: 49px;
        background-color: #000000;
        border: 1px solid #333333;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .number1{
        margin-left: 25px;
    }
    .number1>h2{
        color:#6B6B6B;
        font-size: 12px;
        font-family: 'Poppins';
        margin-bottom: 5px;
    }
    .number1>a{
        color:white;
        font-size: 16px;
        font-family: 'Poppins';
    }
    .find{
        color: white;
        font-size: 20px;
        font-family: 'Poppins';
        margin-top: 60px;
    }
    .icons-wraper{
        width: 350px;
        height: 60px;
        background-color: #FF4900;
        border-radius: 10px;
        margin-top: 88.5px;
        margin-left: -50pt;
        display: flex;
        align-items: center;
    }
    .wraper{
        margin-left: 50pt;
        display: flex;
    }
    .social{
        margin-right: 33px;
        width:20px;
        height: 20px;
    }
    .pint{
        width: 20px;
        height: 20px;
    }
    .submit-wraper{
        margin-top: 150px;
        margin-left: 0;
        width: 250px;
    }
    .drop{
        color: white;
        font-size: 25px;
        font-family: 'Poppins';
        margin-bottom: 49px;
    }
    .input{
        width:250px;
        height: 60px;
        font-size:25px ;
        border-radius: 5px;
        outline: none;
        margin: auto 0 30px;
    }
    .input::placeholder{
        padding-left: 20px;
        font-size: 14px;
    }
    .input-wraper{
        display: flex;
        flex-direction: column;
    }
    .input-wraper2{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
    .input2{
        width: 250px;
        height: 60px;
        font-size:20px ;
    }
    .input2::placeholder{
        padding-left: 20px;
        font-size: 14px;
    }
    .textarea{
        width: 250px;
        height: 150px;
        font-size: 20px;
        margin-top: 50px;
    }
    .textarea::placeholder{
        font-size: 14px;
        padding-left: 25px;
    }
    .button{
        width: 100px;
        height: 40px;
        border-radius: 10px;
        margin-top: 53px;
        font-size: 13px;
    }
    .footer-h1{
        font-size: 12px;
    }
}
@media(max-width:375px){
    .logo{
        max-width: 120px;
        width: 100%;
    }
    .fa-bars{
        font-size: 28px;
    }
    .img-man{
        max-width: 310px;
        width: 100%;
        height: 300px;
        margin-top: 50px;
    }
    .man-effect{
        max-width: 250px;
        width: 100%;
        height: 300px;
        margin-top:-5px;
        margin-left: 30px;
    }
    .section1-wraper{
        margin-top: 100px;
        height: 870px;
    }
    .portfolio-wraper{
        max-width: 300px;
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: unset;
    }
    .hello-wraper{
        max-width: 70px;
        width:100%;
        height: 35px;
        display: flex;
        justify-content: center;
    }
    .hello-wraper>h4{
        font-size: 11px;
        margin-top: 12px;
    }
    .triangle{
        margin-left: 2px;
        width: 17px;
        height:14px;
        border-top: 14px solid #FF4900;
        border-right: 10px solid black;
        border-bottom: 14px solid black ;
        border-left: 10px solid black;
    }
    .divs-wraper{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        max-width: 250px;
        width: 100%;
    }
    .portfolio-h1{
        display: flex;
        justify-content: center;
        font-size: 30px;
        max-width: 300px;
        width: 100%;
    }
    .portfolio-h2{
        display: flex;
        justify-content: center;
        font-size: 9px;
        max-width: 300px;
        width: 100%;
    }
    .download{
        width: 80px;
        height: 36px;
        background-color: #FF4900;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }
    .mywork{
        width: 80px;
        height: 35px;
        border: 1px solid white;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .download>a{
       font-size: 10px;
    }
    .mywork>a{
        font-size: 10px;
    }
    .section2-img{
        max-width: 200px;
        width: 100%;
        margin-left: 50px;
    }
    .calendar-wraper{
        max-width: 290px;
        width: 100%;
    }
    .container1{
        max-width: 400px;
        width: 100%;
    }
    .calendar{
        position: absolute;
        top: 1600px;
        max-width: 80px;
        width: 100%;
        height: 70px;
    }
    .calendar-divs{
        width: 50px;
        height: 25px;
        margin-bottom: 10px;
    }
    .c-div{
        width: 5px;
        height: 10px;
        background-color: white;
    }
    .h1-06{
        width: 50px;
        height: 110px;
        margin-bottom: 13px;
    }
    .h1-06>h1{
        font-size: 9px;
        color: white;
        font-family: 'Poppins';
    }
    .span1{
        font-size: 18px;
        color: white;
        font-family: 'Poppins';
    }
    .box1{
        width: 200px;
        height: 150px;
        margin-bottom: 40px;
    }
    .box2{
        width: 200px;
        height: 150px;
        margin-bottom: 40px;
    }
    .child-div>p{
        font-size: 4px;
    }
    .slider .slider_item img {
        width: 100px;
        height: 100px;
        display: block;
        object-fit: cover;
        margin: 0 auto;
        position: absolute;
        margin-top: 50px;
        margin-left: 105px;
    }
    .footer{
        width: 100%;
        height: 1720px;
        background-color: #060606;
        margin-top: 161px;
    }
    .container3{
        max-width: 1450px;
        width: 100%;
    }
    .contact-wraper{
        display: flex;
        max-width: 250px;
        width: 100%;
    }
    .contact{
        max-width: 250px;
        padding-top: 125px;
    }
    .contact>h2{
        color: white;
        font-size: 16px;
        font-family: 'Poppins';
        margin-bottom: 20px;
    }
    .contact>p{
        color: white;
        font-size: 8px;
        font-family: 'Poppins';
        margin-bottom: 10px;
    }
    .call{
        display: flex;
        margin-top: 57px;
    }
    .icon1{
        width: 49px;
        height: 49px;
        background-color: #000000;
        border: 1px solid #333333;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .number1{
        margin-left: 25px;
    }
    .number1>h2{
        color:#6B6B6B;
        font-size: 10px;
        font-family: 'Poppins';
        margin-bottom: 5px;
    }
    .number1>p{
        color:white;
        font-size: 14px;
        font-family: 'Poppins';
    }
    .find{
        color: white;
        font-size: 16px;
        font-family: 'Poppins';
        margin-top: 60px;
    }
    .icons-wraper{
        width: 300px;
        height: 60px;
        background-color: #FF4900;
        border-radius: 10px;
        margin-top: 88.5px;
        margin-left: -50pt;
        display: flex;
        align-items: center;
    }
    .wraper{
        margin-left: 50pt;
        display: flex;
    }
    .social{
        margin-right: 33px;
        width:15px;
        height: 15px;
    }
    .pint{
        width: 15px;
        height: 15px;
    }
    .submit-wraper{
        margin-top: 150px;
        margin-left: 0;
        width: 250px;
    }
    .drop{
        color: white;
        font-size: 20px;
        font-family: 'Poppins';
        margin-bottom: 49px;
    }
    .input{
        width:200px;
        height: 60px;
        font-size:25px ;
        border-radius: 5px;
        outline: none;
        margin: auto 0 30px;
    }
    .input::placeholder{
        padding-left: 20px;
        font-size: 12px;
    }
    .input-wraper{
        display: flex;
        flex-direction: column;
    }
    .input-wraper2{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
    .input2{
        width: 200px;
        height: 60px;
        font-size:16px ;
    }
    .input2::placeholder{
        padding-left: 20px;
        font-size: 12px;
    }
    .textarea{
        width: 200px;
        height: 150px;
        font-size: 16px;
        margin-top: 50px;
    }
    .textarea::placeholder{
        font-size: 12px;
        padding-left: 25px;
    }
    .button{
        width: 80px;
        height: 40px;
        border-radius: 10px;
        margin-top: 53px;
        font-size: 11px;
    }
    .footer-h1{
        font-size: 10px;
    }
    .menu-ul>li{
        margin: 0;
    }
    .nav-a{
        font-size: 12px;
    } 
    .nav1{
        font-size: 12px;
        width: 70px;
    }
    .nav2{
        font-size: 12px;
        width: 70px;
    }
    .nav3{
        font-size: 12px;
        width: 70px;
    }
    .logo{
        margin-left: 20px;
    }
    .fa-bars{
        margin: 10px 0 0 0;
        font-size: 25px;
    }
    .image{
        width: 100px;
    }
    .header-wraper{
        height: 350px;
    }
    .ul-wraper{
        margin-top: 100px;
    }
}
@media(max-width:320px){
    .slider .slider_item img {
        margin-left: 80px;
    }
    .man-effect{
        margin-left: 2px;
    }
}