@media(max-width:1614px){
    .img-man{
        max-width: 800px;
        width: 100%;
        height: 850px;
        top: 150px;
        right: 0;
    }
    .man-effect{
        max-width: 700px;
        width: 100%;
        height: 720px;
        margin-top: 50px;
        margin-left: 70px;
    }
    .portfolio-wraper{
        max-width: 550px;
        width: 100%;
        height: 396px;
        display: flex;
        flex-direction: column;
        z-index: 50;
        position: absolute;
        top: 320px;
        left: 100px;
    }
    .hello-wraper{
        max-width: 140px;
        width: 100%;
        height: 64px;
        background-color: #FF4900;
    }
    .triangle{
        width: 20px;
        height:17px;
        border-top: 20px solid #FF4900;
        border-right: 15px solid black;
        border-bottom: 20px solid black ;
        border-left: 15px solid black;
        margin-left: 53px;
    }
    .hello-wraper>h4{
        color: white;
        font-size: 18px;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        font-family: 'Poppins';
    }
    .portfolio-h1{
        width: 550px;
        color: white;
        font-size: 70px;
        font-family: 'Poppins';
    }
    .portfolio-h2{
        width: 552px;
        color: white;
        font: 18px;
        margin-top: 18px;
        font-family: 'Poppins';
    }
    .download{
        width: 180px;
        height: 83px;
        background-color: #FF4900;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }
    .mywork{
        width: 180px;
        height: 81px;
        border: 1px solid white;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .download>p{
        font-size: 18px;
    }
    .mywork>p{
        font-size: 18px;
    }
}
@media(max-width:1500px){
    .container1{
        max-width: 1300px;
        width: 100%;
    }
    .section2-img{
        max-width: 600px;
        width: 100%;
    }
    .calendar-wraper{
        max-width: 700px;
        width: 100%;
    }
    .calendar{
        max-width: 200px;
        width: 100%;
        height: 185px;
        position: absolute;
        top: 1900px;
    }
    .h1-06{
        width: 140px;
        height: 110px;
        margin-bottom: 30px;
    }
    .h1-06>h1{
        font-size: 25px;
        color: white;
        font-family: 'Poppins';
    }
    .span1{
        font-size: 45px;
        color: white;
        font-family: 'Poppins';
    }
    .calendar-divs{
        width: 140px;
        height: 30px;
        margin-bottom: 24px;
    }
    .c-div{
        width: 13px;
        height: 30px;
        background-color: white;
    }
    .skills{
        max-width: 470px;
        width: 100%;
        margin-left:60px;
        display: flex;
        flex-direction: column;
    }
    .skills-h1{
        font-size: 27px;
        color: white;
        font-family: 'Poppins';
    }
    .skills-p{
        font-size: 13px;
        color: white;
        margin-top: 42px;
        font-family: 'Poppins';
        margin-bottom:18px;
    }
    .languges-wraper{
        margin-top: 26px;
    }
    .languges{
        font-size: 15px;
        color: white;
        font-family: 'Poppins';
    }
    .languges-borders{
        display: flex;
    }
    .border1{
        width: 360px;
        border: 2px solid #FF4900;
        margin-top: 24.5px;
        margin-bottom: 25px;
    }
    .border2{
        width: 105px;
        border: 2px solid #707070;
        margin-top: 24.5px;
        margin-bottom: 25px;
    }
    .border3{
        width: 315px;
        border: 2px solid #FF7004;
        margin-top: 16.5px;
        margin-bottom: 35px;
    }
    .border4{
        width: 150px;
        border: 2px solid #707070;
        margin-top: 16.5px;
        margin-bottom: 35px;
    }
    .border5{
        width: 400px;
        border: 2px solid #FF9809;
        margin-top: 16.5px;
        margin-bottom: 35px;
    }
    .border6{
        width: 65px;
        border: 2px solid #707070;
        margin-top: 16.5px;
        margin-bottom: 35px;
    }
    .border7{
        width: 440px;
        border: 2px solid #FFBF0D;
        margin-top: 10px;
    }
    .border8{
        width: 25px;
        border: 2px solid #707070;
        margin-top: 10px;
    }
    .info-divs-wraper{
        display: flex;
        margin-top: 85px;
    }
    .hire{
        width: 170px;
        height: 60px;
        background-color: #FF4900;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 18px;
        font-family: 'Poppins';
        margin-right: 20px;
    }
    .about{
        width: 170px;
        height: 60px;
        border-radius: 10px;
        border: 1px solid #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 18px;
        font-family: 'Poppins'; 
    }
}
@media(max-width:1280px) {
    .section1-wraper{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 140px;
    }
    .img-man{
        background-image: url(../img/man.jpg);
        max-width: 800px;
        width: 100%;
        height: 850px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: unset;
        margin-top: 80px;
    }
    .portfolio-wraper{
        max-width: 640px;
        width: 100%;
        height: 396px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: unset;
    }
    .triangle{
        margin-left: 2px;
    }
    .divs-wraper{
        display: flex;
        justify-content: center;
    }
    .portfolio-h2{
        display: flex;
        justify-content: center;
    }
    .nav-li{
        color: white;
        margin-right: 30px;
        margin-top: 70px;
        font-family: 'Poppins';
        font-size: 13px;
    }
    .nav-li-wraper{
        margin-right: 30px;
        width: 90px;
        height: 119px;
        background-color: #FF4900;
        display: flex;
        justify-content: center;
    }
    .nav-li-wraper>li{
        margin-top: 70px;
        color: white;
        font-family: 'Poppins';
        font-size: 13px;
    }
    .nav-li-wraper2{
        width: 100px;
        height: 67px;
        background-color:#FF4900 ;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 44px;
    }
    .nav-li-wraper2>li{
        color: white;
        font-family: 'Poppins';
        font-size: 13px;
    }
    .logo{
        max-width: 150px;
        width: 100%;
    }
    .container1{
        max-width: 900px;
        width: 100%;
        margin-top: 500px;
        display:flex;
        flex-direction: column;
    }
    .section2-img{
        position: unset;
        max-width: 700px;
        width: 100%;
    }
    .calendar-wraper{
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
    }
    .calendar{
        position: absolute;
        top: 2310px;
        max-width: 252px;
        width: 100%;
        height: 233px;
    }
    .calendar-divs{
        width: 170px;
        height: 39px;
        margin-bottom: 35px;
    }
    .c-div{
        width: 17px;
        height: 36px;
    }
    .h1-06{
        margin-bottom:55px;
    }
    .skills{
        max-width: 650px;
        width: 100%;
        margin: 0 auto;
        margin-top: 120px;
    }
    .skills-h1{
        font-size: 40px;
        color: white;
        font-family: 'Poppins';
    }
    .skills-p{
        max-width: 650px;
        width: 100%;
        font-size: 18px;
        color: white;
        margin-top: 42px;
        font-family: 'Poppins';
    }
    .languges-wraper{
        margin-top: 26px;
    }
    .languges{
        font-size: 18px;
        color: white;
        font-family: 'Poppins';
    }
    .languges-borders{
        display: flex;
    }
    .border1{
        width: 510px;
        border: 2px solid #FF4900;
        margin-top: 24.5px;
        margin-bottom: 35px;
    }
    .border2{
        width: 135px;
        border: 2px solid #707070;
        margin-top: 24.5px;
        margin-bottom: 35px;
    }
    .border3{
        width: 462px;
        border: 2px solid #FF7004;
        margin-top: 16.5px;
        margin-bottom: 45px;
    }
    .border4{
        width: 185px;
        border: 2px solid #707070;
        margin-top: 16.5px;
        margin-bottom: 45px;
    }
    .border5{
        width: 561px;
        border: 2px solid #FF9809;
        margin-top: 16.5px;
        margin-bottom: 45px;
    }
    .border6{
        width: 87px;
        border: 2px solid #707070;
        margin-top: 16.5px;
        margin-bottom: 45px;
    }
    .border7{
        width: 605px;
        border: 2px solid #FFBF0D;
        margin-top: 16.5px;
    }
    .border8{
        width: 44px;
        border: 2px solid #707070;
        margin-top: 16.5px;
    }
    .info-divs-wraper{
        display: flex;
        margin-top: 108px;
    }
    .hire{
        width: 241px;
        height: 83px;
        background-color: #FF4900;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 22px;
        font-family: 'Poppins';
        margin-right: 20px;
    }
    .about{
        width: 241px;
        height: 83px;
        border-radius: 10px;
        border: 1px solid #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 22px;
        font-family: 'Poppins'; 
    }
    .container2>h1{
        font-size: 30px;
    }
    .container2>p{
        font-size: 14px;
    }
    .service-wraper{
        max-width: 1450px;
        width: 100%;
    }
    .vertical1{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 120px;
    }
    .vertical2{
        display: flex;
        flex-direction: column;
        margin-top: 0;
        align-items: center;
    }
    .w1{
        margin-bottom: 30px;
    }
    .w2{
        margin-bottom: 30px;
    }
    .w3{
        margin-bottom: 30px;
    }
    .w4{
        margin-bottom: 30px;
    }
    .w5{
        margin-bottom: 30px;
    }
    .box-wraper{
        display: flex;
        flex-wrap: wrap;
    }
    .box1{
        width: 40%;
        margin-right:50px;
    }
    .box2{
        width: 40%;
    }
    .aa{
        width: 40%;
        margin-right:50px;
    }
    .bb{
        width: 40%;
        margin-right: 46px;
    }
    .background-wraper{
        height: 800px;
    }
    .box-wraper{
        height:800px
    }
}
@media(max-width:1024px){
    .navigation{
        display: none;
    }
    .fa-bars{
        display: block;
        margin: 45px;
    }
    .header{
        display: flex;
        justify-content: space-between;
    }
    .logo{
        margin-left: 40px;
    }
    .slider .slider_item img {
        margin-left: 405px;
    }
    .slick-h1{
        font-size: 30px;
    }
    .slick-p{
        font-size: 14px;
    }
}
@media(max-width:900px){
    .section2-img{
        position: unset;
        max-width:650px;
        width: 100%;
    }
    .man-effect{
        max-width: 650px;
        width: 100%;
        height: 720px;
        margin-top: 25px;
        margin-left: 80px;
    }
    .box1{
        width:250px ;
        height:200px ;
    }
    .box2{
        width:250px ;
        height:200px 
    }
    .box1>h1{
        font-size: 40px;
    }
    .box1>p{
        font-size: 20px;
    }
    .box2>h1{
        font-size: 40px;
    }
    .box2>p{
        font-size: 20px;
    }
    .container2>h1{
        font-size: 25px;
    }
    .container2>p{
        font-size: 10px;
    }
    .wordpress{
        width: 380px;
        height: 132.88px;
    }
    .html{
        width: 380px;
        height: 132.88px;
    }
    .icon-h2{
        font-size: 18px;
    }
    .fa-html5{
        font-size: 30px;
    }
    .fa-wordpress{
        color: white;
        font-size: 30px;
    }
    .fa-code{
        font-size: 30px;
        color: white;
    }
    .fa-css3-alt{
        font-size: 30px;
    }
    .fa-puzzle-piece{
        font-size: 30px;
    }
    .fa-laptop-code{
        color: white;
        font-size: 40px;
    }
    .icon-wraper1{
        width: 77px;
        height: 77px;
    }
    .icon-wraper2{
        width: 77px;
        height: 77px;
    }
    .slider .slider_item img {
        margin-left: 350px;
    }
    .slick-h1{
        font-size: 25px;
    }
    .slick-p{
        font-size: 12px;
    }
    .child-div>h1{
        font-size: 20px;
    }
    .child-div>h2{
        font-size: 14px;
    }
    .child-div>p{
        font-size: 14px;
    }
}
@media(max-width:800px){
    .img-man{
        background-image: url(../img/man.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 550px;
        width: 100%;
        height: 600px;
        top: 119px;
        right: 0;
    }
    .man-effect{
        max-width: 500px;
        width: 100%;
        height: 530px;
        margin-top: 30px;
        margin-left: 30px;
    }
    .portfolio-wraper{
        max-width: 500px;
        width: 100%;
        height: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: unset;
    }
    .hello-wraper{
        max-width: 110px;
        width:100%;
        height: 53px;
        display: flex;
        justify-content: center;
    }
    .hello-wraper>h4{
        font-size: 16px;
    }
    .triangle{
        margin-left: 2px;
        width: 20px;
        height:17px;
        border-top: 17px solid #FF4900;
        border-right: 13px solid black;
        border-bottom: 17px solid black ;
        border-left: 13px solid black;
    }
    .divs-wraper{
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    .portfolio-h1{
        display: flex;
        justify-content: center;
        font-size: 50px;
    }
    .portfolio-h2{
        display: flex;
        justify-content: center;
        font-size: 13px;
    }
    .download{
        width: 150px;
        height: 53px;
        background-color: #FF4900;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }
    .mywork{
        width: 150px;
        height: 51px;
        border: 1px solid white;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .download>p{
       font-size: 14px;
    }
    .mywork>p{
        font-size: 14px;
    }
    .container1{
        max-width: 1530px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        margin-top: 287px;
    }
    .calendar-wraper{
        max-width: 650px;
        width: 100%;
    }
    .section2-img{
        max-width: 500px;
        width: 100%;
    }
    .calendar{
        max-width: 180px;
        width: 100%;
        height: 160px;
        background-color: #111111;
        border-radius: 10px;
        position: absolute;
        top: 1965px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .calendar-divs{
        display: flex;
        justify-content: space-between;
        width: 120px;
        height: 30px;
        margin-bottom: 20px;
    }
    .c-div{
        width: 15px;
        height: 25px;
        background-color: white;
    }
    .h1-06{
        width: 110px;
        height: 110px;
        margin-bottom: 35px;
    }
    .h1-06>h1{
        font-size: 20px;
        color: white;
        font-family: 'Poppins';
    }
    .span1{
        font-size: 40px;
        color: white;
        font-family: 'Poppins';
    }
    .skills{
        max-width: 500px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .skills-h1{
        max-width: 500px;
        width: 100%;
        font-size: 30px;
        color: white;
        font-family: 'Poppins';
    }
    .skills-p{
        max-width: 500px;
        width: 100%;
        font-size: 14px;
        color: white;
        margin-top: 42px;
        font-family: 'Poppins';
    }
    .languges-wraper{
        margin-top: 26px;
    }
    .languges{
        font-size: 14px;
        color: white;
        font-family: 'Poppins';
    }
    .languges-borders{
        max-width: 500px;
        width: 100%;
        display: flex;
    }
    .border1{
        width: 370px;
        border: 2px solid #FF4900;
        margin-top: 24.5px;
        margin-bottom: 35px;
    }
    .border2{
        width: 125px;
        border: 2px solid #707070;
        margin-top: 24.5px;
        margin-bottom: 35px;
    }
    .border3{
        width: 310px;
        border: 2px solid #FF7004;
        margin-top: 16.5px;
        margin-bottom: 45px;
    }
    .border4{
        width: 185px;
        border: 2px solid #707070;
        margin-top: 16.5px;
        margin-bottom: 45px;
    }
    .border5{
        width: 420px;
        border: 2px solid #FF9809;
        margin-top: 16.5px;
        margin-bottom: 45px;
    }
    .border6{
        width: 75px;
        border: 2px solid #707070;
        margin-top: 16.5px;
        margin-bottom: 45px;
    }
    .border7{
        width: 460px;
        border: 2px solid #FFBF0D;
        margin-top: 16.5px;
    }
    .border8{
        width: 35px;
        border: 2px solid #707070;
        margin-top: 16.5px;
    }
    .info-divs-wraper{
        max-width: 330px;
        width: 100%;
        display: flex;
        margin-top: 108px;    }
    .hire{
        width: 150px;
        height: 63px;
        background-color: #FF4900;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 18px;
        font-family: 'Poppins';
        margin-right: 20px;
    }
    .about{
        width:150px;
        height: 63px;
        border-radius: 10px;
        border: 1px solid #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size:18px;
        font-family: 'Poppins'; 
    }
    .calendar-divs{
        display: flex;
    }
    .slider .slider_item img {
        margin-left: 240px;
    }
    .slick-h1{
        font-size: 20px;
    }
    .slick-p{
        font-size: 10px;
    }
    .child-div>h1{
        font-size: 15px;
    }
    .child-div>h2{
        font-size: 10px;
    }
    .child-div>p{
        font-size: 10px;
    }
    .mask-div{
        max-width: 600px;
        height:300px;
    }
    .child-div{
        max-width: 600px;
        width: 100%;
        height: 400px;
    }
    .slick-dots li button:before{
        top: 0;
    }
}
@media(max-width:767px){
    .slider .slider_item img {
        margin-left: 150px;
    }
    .slick-h1{
        font-size: 18px;
    }
    .slick-p{
        font-size: 8px;
    }
    .child-div>h1{
        font-size: 13px;
    }
    .child-div>h2{
        font-size: 8px;
    }
    .child-div>p{
        font-size: 8px;
    }
    .mask-div{
        max-width: 400px;
        height:250px;
    }
    .child-div{
        max-width: 400px;
        width: 100%;
        height: 370px;
    }
    .slider .slider_item {
        height: 550px;
    }
    .slider .slider_item img {
        width: 120px;
        height: 120px;
        display: block;
        object-fit: cover;
        margin: 0 auto;
        position: absolute;
        margin-top: 50px;
        margin-left: 150px;
    }
}
@media(max-width:626px){
    .section2-img{
        max-width:460px;
        width: 100%;
    }
}
@media(max-width:620px){
    .container2>h1{
        font-size: 20px;
    }
    .container2>p{
        font-size: 8px;
    }
    .box-wraper{
        display: flex;
        flex-direction: column;
    }
    .box1{
        width: 200px;
        height: 150px;
        margin-bottom: 40px;
    }
    .box2{
        width: 200px;
        height: 150px;
        margin-bottom: 40px;
    }
    .aa{
        width: 200px;
        height: 150px;
    }
    .bb{
        width: 200px;
        height: 150px;
        margin-bottom: 0;
    }
}
@media(max-width:600px){
    .img-man{
        max-width: 450px;
        width: 100%;
        height: 450px;
    }
    .man-effect{
        max-width: 380px;
        width: 100%;
        height: 420px;
        margin-top: 12px;
        margin-left: 40px;
    }
    .portfolio-wraper{
        max-width: 300px;
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: unset;
    }
    .hello-wraper{
        max-width: 90px;
        width:100%;
        height: 43px;
        display: flex;
        justify-content: center;
    }
    .hello-wraper>h4{
        font-size: 13px;
        margin-top: 15px;
    }
    .triangle{
        margin-left: 2px;
        width: 20px;
        height:17px;
        border-top: 14px solid #FF4900;
        border-right: 10px solid black;
        border-bottom: 14px solid black ;
        border-left: 10px solid black;
    }
    .divs-wraper{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        max-width: 300px;
        width: 100%;
    }
    .portfolio-h1{
        display: flex;
        justify-content: center;
        font-size: 35px;
        max-width: 450px;
        width: 100%;
    }
    .portfolio-h2{
        display: flex;
        justify-content: center;
        font-size: 11px;
        max-width: 450px;
        width: 100%;
    }
    .download{
        width: 100px;
        height: 43px;
        background-color: #FF4900;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }
    .mywork{
        width: 100px;
        height: 41px;
        border: 1px solid white;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .download>p{
       font-size: 12px;
    }
    .mywork>p{
        font-size: 12px;
    }
    .section2-img{
        max-width: 380px;
        width: 100%;
    }
    .calendar-wraper{
        max-width: 460px;
        width: 100%;
    }
    .calendar{
        position: absolute;
        top: 1680px;
        max-width: 140px;
        width: 100%;
        height: 120px;
    }
    .calendar-divs{
        width: 100px;
        height: 30px;
        margin-bottom: 15px;
    }
    .c-div{
        width: 10px;
        height: 20px;
        background-color: white;
    }
    .h1-06{
        width: 85px;
        height: 110px;
        margin-bottom: 25px;
    }
    .h1-06>h1{
        font-size: 15px;
        color: white;
        font-family: 'Poppins';
    }
    .span1{
        font-size: 30px;
        color: white;
        font-family: 'Poppins';
    }
    .skills{
        max-width: 460px;
        width: 100%;
        margin-top: 70px;
    }
    .skills-h1{
        max-width: 460px;
        width: 100%;
        font-size: 20px;
    }
    .skills-p{
        max-width: 460px;
        width: 100%;
        font-size: 12px;
        color: white;
        margin-top: 42px;
        font-family: 'Poppins';
    }
    .languges-wraper{
        margin-top: 26px;
    }
    .languges{
        font-size: 12px;
        color: white;
        font-family: 'Poppins';
    }
    .languges-borders{
        max-width: 500px;
        width: 100%;
        display: flex;
    }
    .border1{
        width: 370px;
        border: 2px solid #FF4900;
        margin-top: 24.5px;
        margin-bottom: 35px;
    }
    .border2{
        width: 125px;
        border: 2px solid #707070;
        margin-top: 24.5px;
        margin-bottom: 35px;
    }
    .border3{
        width: 310px;
        border: 2px solid #FF7004;
        margin-top: 16.5px;
        margin-bottom: 45px;
    }
    .border4{
        width: 185px;
        border: 2px solid #707070;
        margin-top: 16.5px;
        margin-bottom: 45px;
    }
    .border5{
        width: 420px;
        border: 2px solid #FF9809;
        margin-top: 16.5px;
        margin-bottom: 45px;
    }
    .border6{
        width: 75px;
        border: 2px solid #707070;
        margin-top: 16.5px;
        margin-bottom: 45px;
    }
    .border7{
        width: 460px;
        border: 2px solid #FFBF0D;
        margin-top: 16.5px;
    }
    .border8{
        width: 35px;
        border: 2px solid #707070;
        margin-top: 16.5px;
    }
    .info-divs-wraper{
        max-width: 330px;
        width: 100%;
        display: flex;
        margin-top: 108px;    }
    .hire{
        width: 150px;
        height: 63px;
        background-color: #FF4900;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 18px;
        font-family: 'Poppins';
        margin-right: 20px;
    }
    .about{
        width:150px;
        height: 63px;
        border-radius: 10px;
        border: 1px solid #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size:18px;
        font-family: 'Poppins'; 
    }
    .container1{
        margin-top: 100px;
    }
    .slick-h1{
        font-size: 16px;
    }
    .slick-p{
        font-size: 6px;
    }
}
@media(max-width:507px){
    .section2-img{
        max-width:340px;
        width: 100%;
    }
}
@media(max-width:480px){
    .img-man{
        max-width: 350px;
        width: 100%;
        height: 350px;
    }
    .man-effect{
        max-width: 290px;
        width: 100%;
        height: 350px;
        margin-top:-5px;
        margin-left: 35px;
    }
    .portfolio-wraper{
        max-width: 300px;
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: unset;
    }
    .hello-wraper{
        max-width: 90px;
        width:100%;
        height: 43px;
        display: flex;
        justify-content: center;
    }
    .hello-wraper>h4{
        font-size: 13px;
        margin-top: 15px;
    }
    .triangle{
        margin-left: 2px;
        width: 20px;
        height:17px;
        border-top: 14px solid #FF4900;
        border-right: 10px solid black;
        border-bottom: 14px solid black ;
        border-left: 10px solid black;
    }
    .divs-wraper{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        max-width: 300px;
        width: 100%;
    }
    .portfolio-h1{
        display: flex;
        justify-content: center;
        font-size: 35px;
        max-width: 450px;
        width: 100%;
    }
    .portfolio-h2{
        display: flex;
        justify-content: center;
        font-size: 11px;
        max-width: 450px;
        width: 100%;
    }
    .download{
        width: 100px;
        height: 43px;
        background-color: #FF4900;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }
    .mywork{
        width: 100px;
        height: 41px;
        border: 1px solid white;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .download>p{
       font-size: 12px;
    }
    .mywork>p{
        font-size: 12px;
    }
    .section2-img{
        max-width: 260px;
        width: 100%;
    }
    .calendar-wraper{
        max-width: 380px;
        width: 100%;
    }
    .container1{
        max-width: 400px;
        width: 100%;
    }
    .calendar{
        position: absolute;
        top: 1600px;
        max-width: 100px;
        width: 100%;
        height: 90px;
    }
    .calendar-divs{
        width: 60px;
        height: 30px;
        margin-bottom: 15px;
    }
    .c-div{
        width: 5px;
        height: 10px;
        background-color: white;
    }
    .h1-06{
        width: 60px;
        height: 110px;
        margin-bottom: 20px;
    }
    .h1-06>h1{
        font-size: 11px;
        color: white;
        font-family: 'Poppins';
    }
    .span1{
        font-size: 23px;
        color: white;
        font-family: 'Poppins';
    }
    .skills{
        max-width: 380px;
        width: 100%;
        margin-top: 70px;
    }
    .skills-h1{
        max-width: 380px;
        width: 100%;
        font-size: 17px;
    }
    .skills-p{
        max-width: 380px;
        width: 100%;
        font-size: 10px;
        margin-top: 42px;
    }
    .languges-wraper{
        margin-top: 26px;
    }
    .languges{
        font-size: 10px;
    }
    .languges-borders{
        max-width: 380px;
        width: 100%;
    }
    .border1{
        width: 370px;
        margin-top: 24.5px;
        margin-bottom: 25px;
    }
    .border2{
        width: 125px;
        margin-top: 24.5px;
        margin-bottom: 25px;
    }
    .border3{
        width: 310px;
        margin-top: 16.5px;
        margin-bottom: 30px;
    }
    .border4{
        width: 185px;
        margin-top: 16.5px;
        margin-bottom: 30px;
    }
    .border5{
        width: 420px;
        margin-top: 16.5px;
        margin-bottom: 30px;
    }
    .border6{
        width: 75px;
        margin-top: 16.5px;
        margin-bottom: 30px;
    }
    .border7{
        width: 460px;
        margin-top: 16.5px;
    }
    .border8{
        width: 35px;
        margin-top: 16.5px;
    }
    .info-divs-wraper{
        max-width: 260px;
        width: 100%;
        display: flex;
        margin-top: 80px;    
    }
    .hire{
        width: 120px;
        height: 53px;
        color: white;
        font-size: 15px;
        margin-right: 20px;
    }
    .about{
        width:120px;
        height: 53px;
        font-size:15px;
    }
    .wordpress{
        width: 280px;
        height: 100px;
    }
    .html{
        width: 280px;
        height: 100px;
    }
    .icon-h2{
        font-size: 14px;
    }
    .fa-html5{
        font-size: 20px;
    }
    .fa-wordpress{
        color: white;
        font-size: 20px;
    }
    .fa-code{
        font-size: 20px;
        color: white;
    }
    .fa-css3-alt{
        font-size: 20px;
    }
    .fa-puzzle-piece{
        font-size: 20px;
    }
    .fa-laptop-code{
        color: white;
        font-size: 20px;
    }
    .icon-wraper1{
        width: 50px;
        height: 50px;
    }
    .icon-wraper2{
        width: 50px;
        height: 50px;
    }
    .mask-div{
        max-width: 300px;
        height:200px;
    }
    .child-div{
        max-width: 300px;
        width: 100%;
        height: 300px;
    }
    .child-div>h1{
        font-size: 10px;
        margin-top: 100px;
    }
    .child-div>h2{
        font-size: 6px;
    }
    .child-div>p{
        font-size: 6px;
    }
    .slider .slider_item {
        height: 450px;
    }
    .slider .slider_item img {
        width: 100px;
        height: 100px;
        display: block;
        object-fit: cover;
        margin: 0 auto;
        position: absolute;
        margin-top: 50px;
        margin-left: 110px;
    }
    .slick-p{
        font-size: 4px;
    }
}
@media(max-width:414px){
    .section2-img{
        max-width: 230px;
        width: 100%;
    }
    .calendar-wraper{
        max-width: 350px;
        width: 100%;
    }
    .container1{
        max-width: 400px;
        width: 100%;
    }
    .calendar{
        position: absolute;
        top: 1560px;
    }
    .skills{
        max-width: 300px;
        width: 100%;
        margin-top: 70px;
    }
    .skills-h1{
        max-width: 300px;
        width: 100%;
        font-size: 15px;
    }
    .skills-p{
        max-width: 300px;
        width: 100%;
        font-size: 8px;
        margin-top: 42px;
    }
    .languges-wraper{
        margin-top: 26px;
    }
    .languges{
        font-size: 8px;
    }
    .languges-borders{
        max-width: 300px;
        width: 100%;
    }
    .border1{
        width: 220px;
        margin-top: 24.5px;
        margin-bottom: 25px;
    }
    .border2{
        width: 70px;
        margin-top: 24.5px;
        margin-bottom: 25px;
    }
    .border3{
        width: 180px;
        margin-top: 16.5px;
        margin-bottom: 30px;
    }
    .border4{
        width: 110px;
        margin-top: 16.5px;
        margin-bottom: 30px;
    }
    .border5{
        width: 230px;
        margin-top: 16.5px;
        margin-bottom: 30px;
    }
    .border6{
        width: 60px;
        margin-top: 16.5px;
        margin-bottom: 30px;
    }
    .border7{
        width:260px;
        margin-top: 16.5px;
    }
    .border8{
        width: 30px;
        margin-top: 16.5px;
    }
    .hire{
        width: 90px;
        height: 43px;
        color: white;
        font-size: 13px;
        margin-right: 20px;
    }
    .about{
        width:90px;
        height:43px;
        font-size:13px;
    }
}
@media(max-width:375px){
    .logo{
        max-width: 120px;
        width: 100%;
    }
    .fa-bars{
        font-size: 28px;
    }
    .img-man{
        max-width: 310px;
        width: 100%;
        height: 300px;
        margin-top: 50px;
    }
    .man-effect{
        max-width: 250px;
        width: 100%;
        height: 300px;
        margin-top:-5px;
        margin-left: 35px;
    }
    .section1-wraper{
        margin-top: 100px;
        height: 870px;
    }
    .portfolio-wraper{
        max-width: 300px;
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: unset;
    }
    .hello-wraper{
        max-width: 70px;
        width:100%;
        height: 35px;
        display: flex;
        justify-content: center;
    }
    .hello-wraper>h4{
        font-size: 11px;
        margin-top: 12px;
    }
    .triangle{
        margin-left: 2px;
        width: 17px;
        height:14px;
        border-top: 14px solid #FF4900;
        border-right: 10px solid black;
        border-bottom: 14px solid black ;
        border-left: 10px solid black;
    }
    .divs-wraper{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        max-width: 250px;
        width: 100%;
    }
    .portfolio-h1{
        display: flex;
        justify-content: center;
        font-size: 30px;
        max-width: 300px;
        width: 100%;
    }
    .portfolio-h2{
        display: flex;
        justify-content: center;
        font-size: 9px;
        max-width: 300px;
        width: 100%;
    }
    .download{
        width: 80px;
        height: 36px;
        background-color: #FF4900;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }
    .mywork{
        width: 80px;
        height: 35px;
        border: 1px solid white;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .download>p{
       font-size: 10px;
    }
    .mywork>p{
        font-size: 10px;
    }
    .section2-img{
        max-width: 200px;
        width: 100%;
        margin-left: 50px;
    }
    .calendar-wraper{
        max-width: 290px;
        width: 100%;
    }
    .container1{
        max-width: 400px;
        width: 100%;
    }
    .calendar{
        position: absolute;
        top: 1395px;
        max-width: 80px;
        width: 100%;
        height: 70px;
    }
    .calendar-divs{
        width: 50px;
        height: 25px;
        margin-bottom: 10px;
    }
    .c-div{
        width: 5px;
        height: 10px;
        background-color: white;
    }
    .h1-06{
        width: 50px;
        height: 110px;
        margin-bottom: 13px;
    }
    .h1-06>h1{
        font-size: 9px;
        color: white;
        font-family: 'Poppins';
    }
    .span1{
        font-size: 18px;
        color: white;
        font-family: 'Poppins';
    }
    .box1{
        width: 200px;
        height: 150px;
        margin-bottom: 40px;
        margin-left: 40px;
    }
    .box2{
        width: 200px;
        height: 150px;
        margin-bottom: 40px;
        margin-left: 40px;
    }
    .aa{
        width: 200px;
        height: 150px;
        margin-left: 40px;
    }
    .bb{
        width: 200px;
        height: 150px;
        margin-bottom: 0;
        margin-left: 40px;
    }
    .child-div>p{
        font-size: 4px;
    }
    .slider .slider_item img {
        width: 100px;
        height: 100px;
        display: block;
        object-fit: cover;
        margin: 0 auto;
        position: absolute;
        margin-top: 50px;
        margin-left: 105px;
    }
}
@media(max-width:320px){
    .slider .slider_item img {
        margin-left: 80px;
    }
}