.body{
    background-color: black;
}
.header{
    background-color: #000000;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.logo{
    margin-top: 30px;
}
.nav-ul{
    display: flex;
    
}
.nav-li{
    color: white;
    margin-right: 52px;
    margin-top: 70px;
    font-family: 'Poppins';
}
.aa{
    color: white;
    font-family: 'Poppins';
}
.nav-li-wraper{
    margin-right: 30px;
    width: 119px;
    height: 119px;
    background-color: #FF4900;
    display: flex;
    justify-content: center;
}
.nav-li-wraper>li{
    margin-top: 70px;
    color: white;
    font-family: 'Poppins';
}
.nav-li-wraper2{
    width: 148px;
    height: 67px;
    background-color:#FF4900 ;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 44px;
}
.nav-li-wraper2>li{
    color: white;
    font-family: 'Poppins';
}
.section1-wraper{
    display: flex;
    width: 100%;
    height: 100vh;
}
.img-man{
    background-image: url(../img/man.jpg);
    max-width: 1280px;
    width: 100%;
    height: 850px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    position: absolute;
    top: 120px;
    right: 0;
}
.portfolio-wraper{
    max-width: 640px;
    width: 100%;
    height: 396px;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 50;
    top: 320px;
    left: 210px;
}
.hello-wraper{
    max-width: 199px;
    width: 100%;
    height: 64px;
    background-color: #FF4900;
}
.triangle{
    width: 20px;
    height:17px;
    border-top: 23px solid #FF4900;
    border-right: 17px solid black;
    border-bottom: 23px solid black ;
    border-left: 17px solid black;
    margin-left: 82px;
}
.hello-wraper>h4{
    color: white;
    font-size: 22px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Poppins';
}
.portfolio-h1{
    width: 640px;
    color: white;
    font-size: 80px;
    font-family: 'Poppins';
}
.portfolio-h2{
    width: 552px;
    color: white;
    font: 22px;
    margin-top: 18px;
    font-family: 'Poppins';
}
.man-effect{
    max-width: 720px;
    width: 100%;
    height: 720px;
    margin-top: 50px;
    margin-left: 290px;
}
.divs-wraper{
    max-width: 505px;
    width: 100%;
    display: flex;
    margin-top: 67px;
}
.download{
    width: 241px;
    height: 83px;
    background-color: #FF4900;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.mywork{
    width: 241px;
    height: 81px;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.download>p{
    color: white;
    font-family: 'Poppins';
    font-size: 22px;
}
.mywork>p{
    color: white;
    font-family: 'Poppins';
    font-size: 22px;
}
.fa-bars{
    font-size: 35px;
    color: #FF4900;
    display: none;
}
.container1{
    max-width: 1530px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    margin-top: 287px;
}
.calendar-wraper{
    max-width: 789px;
    width: 100%;
}
.section2-img{
    border-radius: 10px;
    margin: 0 0 73px 80px;
    position: absolute;
}
.calendar{
    max-width: 262px;
    width: 100%;
    height: 243px;
    background-color: #111111;
    border-radius: 10px;
    position: absolute;
    top: 1970px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.calendar-divs{
    display: flex;
    justify-content: space-between;
    width: 178px;
    height: 39px;
    margin-bottom: 34px;
}
.c-div{
    width: 19px;
    height: 39px;
    background-color: white;
}
.h1-06{
    width: 160px;
    height: 110px;
    margin-bottom: 60px;
}
.h1-06>h1{
    font-size: 30px;
    color: white;
    font-family: 'Poppins';
}
.span1{
    font-size: 50px;
    color: white;
    font-family: 'Poppins';
}
.skills{
    max-width: 650px;
    width: 100%;
    margin-left: 90px;
    display: flex;
    flex-direction: column;
}
.skills-h1{
    font-size: 40px;
    color: white;
    font-family: 'Poppins';
}
.skills-p{
    font-size: 18px;
    color: white;
    margin-top: 42px;
    font-family: 'Poppins';
}
.languges-wraper{
    margin-top: 26px;
}
.languges{
    font-size: 18px;
    color: white;
    font-family: 'Poppins';
}
.languges-borders{
    display: flex;
}
.border1{
    width: 510px;
    border: 2px solid #FF4900;
    margin-top: 24.5px;
    margin-bottom: 35px;
}
.border2{
    width: 135px;
    border: 2px solid #707070;
    margin-top: 24.5px;
    margin-bottom: 35px;
}
.border3{
    width: 462px;
    border: 2px solid #FF7004;
    margin-top: 16.5px;
    margin-bottom: 45px;
}
.border4{
    width: 185px;
    border: 2px solid #707070;
    margin-top: 16.5px;
    margin-bottom: 45px;
}
.border5{
    width: 561px;
    border: 2px solid #FF9809;
    margin-top: 16.5px;
    margin-bottom: 45px;
}
.border6{
    width: 87px;
    border: 2px solid #707070;
    margin-top: 16.5px;
    margin-bottom: 45px;
}
.border7{
    width: 605px;
    border: 2px solid #FFBF0D;
    margin-top: 16.5px;
}
.border8{
    width: 44px;
    border: 2px solid #707070;
    margin-top: 16.5px;
}
.info-divs-wraper{
    display: flex;
    margin-top: 108px;
}
.hire{
    width: 241px;
    height: 83px;
    background-color: #FF4900;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 22px;
    font-family: 'Poppins';
    margin-right: 20px;
}
.about{
    width: 241px;
    height: 83px;
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 22px;
    font-family: 'Poppins'; 
}
.calendar-divs{
    display: flex;
}
.c-div{
    width: 15px;
    height: 30px;
    background-color: white;
}
.container2{
    max-width: 1450px;
    width: 100%;
    margin: 0 auto;
    margin-top: 242px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container2>h1{
    color: white;
    font-size: 40px;
    font-family: 'Poppins';
    margin-bottom: 20px;
}
.container2>p{
    color: white;
    font-size: 18px;
    font-family: 'Poppins';
    margin-bottom: 13px;
}
.service-wraper{
    max-width: 1450px;
    width: 100%;
}
.vertical1{
    max-width: 1450px;
    width: 100%;
    margin-top: 76px;
    display: flex;
    justify-content: space-between;
}
.wordpress{
    width: 442px;
    height: 132.88px;
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.icon-wraper1{
    width: 87px;
    height: 87px;
    background-color: black;
    border-radius: 50px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-h2{
    color: white;
    font-size: 25px;
    font-family: 'Poppins';
}
.html{
    width: 442px;
    height: 132.88px;
    background-color: #FF4900;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.fa-html5{
    font-size: 40px;
}
.fa-wordpress{
    color: white;
    font-size: 40px;
}
.fa-code{
    font-size: 40px;
    color: white;
}
.icon-wraper2{
    width: 87px;
    height: 87px;
    background-color: white;
    border-radius: 50px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-laptop-code{
    color: white;
    font-size: 40px;
}
.vertical2{
    max-width: 1450px;
    width: 100%;
    margin-top: 76px;
    display: flex;
    justify-content: space-between;
}
.fa-css3-alt{
    font-size: 40px;
}
.fa-puzzle-piece{
    font-size: 40px;
}
.background-wraper{
    width: 100%;
    height: 615px;
    background-image: url(../img/shutter.jpg);
    opacity: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 200px;
}
.box-wraper{
    width: 100%;
    height: 615px;
    background-color: #000000;
    opacity: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1{
    width:328px ;
    height:256px ;
    background-color: #111111;
    border: 1px dashed #707070;
    border-radius: 10px;
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
    margin-right: 46px;
}
.box2{
    width:328px ;
    height:256px ;
    background-color: #FF4900;
    border-radius: 10px;
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
    margin-right: 46px;
}
.box3{
    width:328px ;
    height:256px ;
    background-color: #111111;
    border: 1px dashed #707070;
    border-radius: 10px;
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
    margin-right: 46px;
}
.box4{
    width:328px ;
    height:256px ;
    background-color: #FF4900;
    border-radius: 10px;
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
}
.box1>h1{
    color: white;
    font-size: 50px;
    font-family: 'Poppins';
}
.box1>p{
    color: white;
    font-size: 30px;
    font-family: 'Poppins';
}
.box2>h1{
    color: white;
    font-size: 50px;
    font-family: 'Poppins';
}
.box2>p{
    color: white;
    font-size: 30px;
    font-family: 'Poppins';
}
.box3>h1{
    color: white;
    font-size: 50px;
    font-family: 'Poppins';
}
.box3>p{
    color: white;
    font-size: 30px;
    font-family: 'Poppins';
}
.box4>h1{
    color: white;
    font-size: 50px;
    font-family: 'Poppins';
}
.box4>p{
    color: white;
    font-size: 30px;
    font-family: 'Poppins';
}
.slider .slider_item {
    width: 1154px;
    height: 629px;
}
.slider .slider_item img {
    width: 150px;
    height: 150px;
    display: block;
    object-fit: cover;
    margin: 0 auto;
    position: absolute;
    margin-top: 50px;
    margin-left: 500px;
}
.slick-h1{
    color: white;
    font-size: 40px;
    font-family: 'Poppins';
    text-align: center;
    margin: 190px 0 20px;
}
.slick-p{
    color: white;
    font-size: 18px;
    font-family: 'Poppins';
    text-align: center;
}
.slider-wraper{
    max-width: 1154px;
    height: 629px;
}
.mask-div{
    max-width: 1154px;
    height:629px;
    background: black;
    position: relative;
    margin: 0 auto;
    display: flex;
}
.child-div{
    max-width: 1154px;
    width: 100%;
    height: 504px;
    background-color: #111111;
    margin-top: 124px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.child-div>h1{
    color:#FF4900;
    font-size: 25px;
    margin: 156px 0 5px;
}
.child-div>h2{
    color:white;
    font-size: 18px;
    margin-bottom: 54px;
}
.child-div>p{
    color:white;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}
.slick-dots li button:before{
    font-family: 'slick';
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: 30px;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color:#8C8CA5 ;
    -webkit-font-smoothing: antialiased;
}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #FF4900;
}
.footer{
    width: 100%;
    height: 983px;
    background-color: #060606;
    margin-top: 161px;
}
.container3{
    max-width: 1450px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-wraper{
    display: flex;
}
.contact{
    max-width: 525px;
    padding-top: 125px;
}
.contact>h2{
    color: white;
    font-size: 40px;
    font-family: 'Poppins';
    margin-bottom: 20px;
}
.contact>p{
    color: white;
    font-size: 18px;
    font-family: 'Poppins';
    margin-bottom: 10px;
}
.call{
    display: flex;
    margin-top: 57px;
}
.icon1{
    width: 49px;
    height: 49px;
    background-color: #000000;
    border: 1px solid #333333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.number1{
    margin-left: 25px;
}
.number1>h2{
    color:#6B6B6B;
    font-size: 18px;
    font-family: 'Poppins';
    margin-bottom: 5px;
}
.number1>p{
    color:white;
    font-size: 25px;
    font-family: 'Poppins';
}
.find{
    color: white;
    font-size: 25px;
    font-family: 'Poppins';
    margin-top: 60px;
}
.icons-wraper{
    width: 850px;
    height: 83px;
    background-color: #FF4900;
    border-radius: 10px;
    margin-top: 88.5px;
    margin-left: -270pt;
    display: flex;
    align-items: center;
}
.wraper{
    margin-left: 270pt;
    display: flex;
}
.social{
    margin-right: 33px;
}
.submit-wraper{
    margin: 121px 0 0 64px;
}
.drop{
    color: white;
    font-size: 40px;
    font-family: 'Poppins';
    margin-bottom: 49px;
}
.input{
    width: 414px;
    height: 89px;
    color: #707070;
    font-size:25px ;
    background-color: black;
    border: 1px solid #333333;
    border-radius: 5px;
    outline: none;
    margin-right: 30px;
}
.input::placeholder{
    padding-left: 25px;
    font-size: 18px;
    color: #707070;
    font-family: 'Montserrat';
}
.input-wraper{
    display: flex;
}
.input2{
    width: 414px;
    height: 89px;
    color: #707070;
    font-size:25px ;
    background-color: black;
    border: 1px solid #333333;
    border-radius: 5px;
    outline: none;
}
.input2::placeholder{
    padding-left: 25px;
    font-size: 18px;
    color: #707070;
    font-family: 'Montserrat';
}
.input-wraper2{
    display: flex;
    margin-top: 50px;
}
.textarea{
    width: 858px;
    height: 205px;
    font-size: 25px;
    color:#707070 ;
    background-color: #000000;
    border: 1px solid #333333;
    border-radius: 5px;
    outline: none;
    margin-top: 50px;
}
.textarea::placeholder{
    font-size: 18px;
    color: #707070;
    font-family: 'Montserrat';
    padding-left: 25px;
}
.button{
    width: 241px;
    height: 83px;
    background-color: #FF4900;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-top: 53px;
    color: white;
    font-size: 22px;
    font-family: 'Poppins';
}
.footer-h1{
    color: white;
    font-size: 18px;
    font-family: 'Poppins';
    margin-top: 80px;
}